@model EnglishAssistant.ViewModels.Accounts.LoginViewModel;

@{
    ViewData["Title"] = "Sign in";
    Layout = "_Layout";
}

<link href="~/static/account/login.bundle.css" type="text/css" rel="stylesheet" />

<h1>Please enter your username and password</h1>

@if (!Model.IsSuccessfulAttempt)
{
    <h1>User with such username and password was not found</h1>
}

<form method="post" action="@Url.Action("Login")">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" value="@Model.Username" data-bind="value: username" />
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" data-bind="value: password" />
    </div>

    <input type="submit" value="Login" data-bind="enable: isFormValid" />
</form>

<script src="~/static/account/login.bundle.js"></script>