@model EnglishAssistant.ViewModels.Shared.Components.ProfileViewModel;

<div class="profile">
    <ul>
        @if (Model.IsAuthenticated)
        {
            <li><a href="#">@Model.Username</a></li>
            <li><a href="@Url.Action("SignOut", "Account")">Sign<text>&nbsp;</text>out</a></li>
        } else
        {
            <li><a href="@Url.Action("Create", "Account")">Sign<text>&nbsp;</text>up</a></li>
            <li><a href="@Url.Action("Login", "Account")">Sign<text>&nbsp;</text>in</a></li>
        }
    </ul>
</div>